* text=auto eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.ico binary
*.keystore binary
*.p8 binary
*.p12 binary
*.mobileprovision binary

*.ps1 text eol=crlf
*.cmd text eol=crlf
*.bat text eol=crlf
